.AddStatute{
    width: 100%;
    min-height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}
.ast_inner{
    width: 97%;
    margin-top: 50px;
}

.ast_titleInner{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ast_title > h1{
    font-size: 2.5em;
}

.ast_title > p{
    color: gray;
    font-size: 1em;
}
.ast_uploadIner{
    margin-top: 40px;
    width: 50%;

}

.ast_input_inner{
    width: 100%;
}

.ast_input_inner > p{
    font-weight: 600;
}

.ast_input_inner > input{
    width: 70%;
    padding: 5px 5px 5px 10px;
    font-size: 1.2em;
    margin-top: 5px;
    border: none;
    border-left: 5px solid black;
    outline: none;
    font-weight: 600;
}

.ast_input_inner > input::placeholder{
    font-style: italic;
}

.ast_input_inner > input:focus{
    border-color: #3BC96A;
}


.ast_file_inner{
    margin-top: 40px;
    padding: 50px 20px;
    border: 2px dashed black;
    border-radius: 10px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#ast_file{
    display: none;
}

.ast_img_input{
    font-size: 1.2em;
    font-weight: 600;
    overflow-x: hidden;
    text-wrap: nowrap;
}

.ast_button{
    padding: 20px 60px;
    background-color: #3BC96A;
    border: none;
    outline: none;
    border-radius: 10px;
    color: white;
    font-weight: 700;
    font-size: 1em;
    cursor: pointer;
    transition: background-color .2s ease;
}

.ast_button:hover{
    background-color: white;
    color: #3BC96A;
    outline: 3px solid #3BC96A;
    font-weight: 700;
}

.ast_button:disabled{
    background-color: gray;
    cursor: default;
    outline: none;
    color: white;
}

[data-theme="dark"] .AddStatute{
    background-color: #14171D
}

[data-theme="dark"] .ast_title > h1{
    color: #C9CED8;
}

[data-theme="dark"] .ast_title > p{
    color: #84878d;
}

[data-theme="dark"] .ast_input_inner > input{
    background-color: #14171D;
    color: #C9CED8;
    border-color: white;
}

[data-theme="dark"] .ast_input_inner > input:focus{
    border-color: #3BC96A;
}

[data-theme="dark"] .ast_input_inner > p{
    color: #C9CED8;
}

[data-theme="dark"] .ast_file_inner{
    border-color: #C9CED8;
}

[data-theme="dark"] .ast_file_inner > label{
    color: #C9CED8;
}